<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="footer-clean">
        <footer>
            <div class="center-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contact :</h3>
                        <ul>
                            <li><a>Tel :+33 7 70 01 84 97 </a></li>
                            <li><a>Mail : enquiry@emgs.com.my</a></li>
                            <li><a>Fax : 0 890 35 75 96</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a>Mentions Légales</a></li>
                            </ul>
                    </div>               
                </div>
            </div>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            </div>
        </footer>
    </div>
</body>
</html>