<app-header></app-header>
<div class=block-1>
    <div class="d-flex flex-row">
    <div class="p-2">
        <img src="https://cdn.britannica.com/38/179238-050-9DCE1D4A/Courtyard-hospital-Saint-Esprit-France-Beaune.jpg" class="rounded float-start" alt="..." class="image-1">
    </div>
    <div class="p-2">
        <h1 class=""> Découvrez la ville de Beaune</h1>
        <p> Découvrez la ville de Beaune et ses magnifiques hospices</p>
    </div>    
</div>
<div class="d-flex flex-row-reverse">
    <div class="p-2"><img src="https://i-det.unimedias.fr/sites/art-de-vivre/files/styles/large/public/def-187-beaune-vin-patriarche-07.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=600&w=900" alt=""></div>
    <div class="p-2"><h1>Visitez des lieux uniques</h1>
        <p>Visitez les caves à vins ainsi que les domaines agricoles, assistez à des dégustations des meilleurs vins du monde</p>
        <button class="btn btn-danger"><a href="/reservation" class="">Réservez une visite</a></button>
    </div>
    <div class="p-2"></div>
</div>
<div class="d-flex flex-row">
    <div class="p-2">
        <img src="https://www.bourgogne-tourisme.com/uploads/2020/09/vignobles-cote-de-beaune-bfct-alain-doire-1600x900.jpg" class="rounded float-start" alt="..." class="image-1">
    </div>
    <div class="p-2">
        <h1 class="">Réserver dès maintenant </h1>
        <p>Venez découvrir ce que cette région hors du commun a à vous offrir</p>
        <button class="btn btn-danger"><a href="/reservation" class="">Réservez une chambre</a></button>
    </div> 
</div>
<app-footer></app-footer>