<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>
<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="https://w7.pngwing.com/pngs/205/164/png-transparent-hotel-motel-gratis-hotel-text-presentation-logo.png" height="60" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Nos chambres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Vos réservations</a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle dropdown-toogle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activités
              </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item"><a href="/tourisme-locale">Tourisme Locale</a></a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item">Activités de l'hotel</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-secondary"><a href="/reservation" class="reservation">Réserver</a></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>